*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  background-color: #fff;
  background-image: url("https://image.freepik.com/free-photo/living-room-with-armchair-tree-white-wall-background-3d-rendering_41470-353.jpg");
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Mulish', sans-serif;
}





