@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@1,600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar{
  background-color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;

}
.navbar a:hover {
  color: #50db34;
}
@media(max-width: 991px){
  .navbar-brand{
    font-size: l.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}
#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 32px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #45aec0;
  border: 2px solid black;
  text-decoration: none;
}
#header .btn-get-started:hover{
  background: black;
  color: #fff;
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
.contact_div{
  width: 100%;
  height: 75vh;
}
footer{
  padding: 0;
  margin: 0;
}
@media (max-width: 991px){
  #header{
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img{
    width: 60%;
  }
}
@media (max-width: 768px){
  #header {
    margin-top: 20px;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img{
    width: 70%;
  }
}

.cards{
  width: 100%;
  height: auto;
 
}
.card{
  margin: 19%;
  transition: all 0.4s cubic-bezier(0.375, 2.885, 0, 1);
  background-color: #868686;
  width: 255px;
  border-radius: 8px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);


}
.card_img{
  width: 1000%;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card_info{
  background-color: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 8px 12px 12px 12px;
  background-color: #fff;
  width: 1000%;
  height: 100px;
}
.card_category {
  font-family: "Raleway",sans-serif;
  text-decoration: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #868686;
  background-color: #fff;
}
.card_title{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Raleway" sans-serif;
  background-color: #fff;
  font-size: 20px;
  text-decoration: capitalize;

}
.center {
  text-align: center;}
.button{
  padding: 5px 8px;
  font-family: "raleway",sans-serif;
  text-decoration: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border:1px solid black;
  cursor: pointer;
}
@media(max-width: 768px){
  .card{
      float: none;
      margin: 5px;
      width: 100%;
      display: block;
  }
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: rgb(241, 137, 137);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #91a6af;
  color: white;
}
.service{
  font-family: "Raleway",sans-serif;
  text-decoration: uppercase;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 900;
  color: black;
  background-color: #fff;
  text-align: center;
  background-color: rgb(146, 209, 209);
}

.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
  color: #45aec0;
  border: 2px solid black;
  text-decoration: none;
  
}
.btn-get-started:hover{
  background: black;
  color: rgb(245, 239, 239);
}

